  #container{
     max-width: 1200px;
     display: flex;
  }

  #carouselExampleIndicators{
    margin: auto;
  }

  .carousel-caption{
    vertical-align: center;
    text-shadow: 2px 2px 5px #000;
  }

  .carousel-inner img{
    height: 500px;
    object-fit: cover;
    margin: auto;
  }
  
  .FlexCon {
    background: hsla(0,0%,0%,.1);
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    padding: 1em;
    width: 180px;
  }
  
  .FlexIt {
    background: hsla(0,0%,0%,.1);
    flex: 1;
    margin: 1em;
    max-width: 170px;
    padding: 1em;
  }
  
  .FlexContainer {
    background: hsla(0,0%,0%,.1);
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    padding: 10px;
    width: 1000px;
  }
  
  .FlexItem {
    background: hsla(0,0%,0%,.1);
    flex: 1;
    margin: 1em;
    min-width: 150px;
    height: 150px;
    padding: 1em;
  }
  
  .mainc {
    text-align: center;
    border: 1px solid black;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 260%;
  }
  
  .aside-1 {
    border: 1px solid black;
    text-align: right;
    width: 250%;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
 
  .big-box{
    text-align: center;
    display: flex; 
  }  
  
  .vault-container{
    padding: 30px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between; 
    flex: 50%;
    flex-wrap: wrap;
  }

  .hoverdocA{
    background-image: url("https://gailproject.ucsc.edu/files/fullsize/b9739f8e431db14eda186d6de1aa7d09.jpg");
    height: 300px; 
    width: 49%;
    transition: .5s ease;
    object-fit: cover;
  } 

  .hoverdocA:hover{
    background-image: url("https://gailproject.ucsc.edu/files/fullsize/4033046dd51aa0a3a0346fe61914a9b7.jpg");
    transition: .5s ease;
    background-color: #333;
  } 

  .hoverdocB{
    background-image: url("https://gailproject.ucsc.edu/files/fullsize/b9739f8e431db14eda186d6de1aa7d09.jpg");
    height: 300px; 
    width: 49%;
    transition: .5s ease;
    object-fit: cover;
  } 

  .hoverdocB:hover{
    background-image: url("https://gailproject.ucsc.edu/files/fullsize/4033046dd51aa0a3a0346fe61914a9b7.jpg");
    transition: .5s ease;
    background-color: #333;
  } 

  .hovertext{
    opacity: 0;
    transition: .5s ease;
    color: white;
    text-shadow: 2px 2px 5px #000;
  }

  .hoverdocA:hover .hovertext {
    opacity: 1;
    transition: .5s ease;
  }

  .hoverdocB:hover .hovertext {
    opacity: 1;
    transition: .5s ease;
  }

  .box-container{
    /* background: #a8c0ff; */
    padding: 0px 30px 0px 30px;
    width: 80%;
    margin: auto;
    display: flex; 
    /* border: 1px solid black; */
    justify-content: space-between; 
  } 

  .Hard-code-article {
    text-align: center;
    background-image: url("https://cdn-images-1.medium.com/max/1600/1*yC4aqSDpNd2Fhn9f52GhBQ.jpeg");
    background-size: cover;
    width: 60%;
    transition: .5s ease;
  }

  .Hard-code-article:hover .hovertext{
    opacity: 1;
    transition: .5s ease;
  }
  
  .Subscribe{
    text-align: center;
    width: 38%;
    background: #ccc;
  }

  .Subscribe a{
    margin: 5px;
  }
  
  .videos{
    display: flex; 
  } 
  
  .articles{
  /* background: #d9a7c7; 
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7); 
  background: linear-gradient(to right, #fffcdc, #d9a7c7);*/
    display: flex; 
  } 
  
  .gallery{
    /* background: #43C6AC;  
  background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  
  background: linear-gradient(to right, #F8FFAE, #43C6AC); */
  display: flex; 
  } 
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  