{% extends 'base_layout.html'%}
    

    {% block content %}
        <h1> ARTICLE LIST </h1>

        <div class="articles" >
<!--           -->
            {% for article in articles%}
                <div class = "article">
<!--                    # = link to page -->
<!--                    <h2><a href="#">{{article.title}} </a></h2>-->
                    
<!--                    Thumbnail Link -->
                    <h2><a href="{% url 'articles:detail' slug=article.slug%}"><img src="{{article.thumb.url}}"/></a> </h2>
<!--                    Title Link  -->
                    <h2><a href="{% url 'articles:detail' slug=article.slug%}">{{article.title}}</a> </h2>
                    <p>{{article.snippet}}</p>
                    <p>{{article.date}} </p>
                    
                </div>
            {% endfor %}
        </div>
    {% endblock %}