.documentcon{
  width: 100%;
}

#doctitle{
  text-align: center;
  margin: auto;
}  
  
.filter-box{
  max-width: 200px;
  display: flex; 
} 

.doc-grid{
  max-width: 1000px;
  margin: auto;
  display: flex;
}

.FilterButtons {
  background: hsla(0,0%,0%,.1);
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  padding: 1em;
  width: 180px;
}

.FlexIt {
  background: hsla(0,0%,0%,.1);
  flex: 1;
  margin: 1em;
  max-width: 170px;
  padding: 1em;
}

.FlexIt .btn{
  margin-top: 10px;
}

.FlexItem {
  background: hsla(0,0%,0%,.1);
  flex: 1;
  margin: 1em;
  width: 150px;
  height: 150px;
  padding: 1em;
}

.FlexContainer {
  background: hsla(0,0%,0%,.1);
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  padding: 10px;
  width: 1000px;
}

.documents{
  max-width: 800px;
  display: flex; 
} 

.FlexItem:hover{
  opacity: .5;
  transition: .5s ease;
}