.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#container{
   max-width: 1200px;
   /* border: 1px solid black; */
   display: flex;
}

.FlexCon {
  background: hsla(0,0%,0%,.1);
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  padding: 1em;
  width: 180px;
}

.FlexIt {
  background: hsla(0,0%,0%,.1);
  flex: 1;
  margin: 1em;
  max-width: 170px;
  padding: 1em;
}

.FlexContainer {
  background: hsla(0,0%,0%,.1);
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  padding: 10px;
  width: 1000px;
}

.FlexItem {
  background: hsla(0,0%,0%,.1);
  flex: 1;
  margin: 1em;
  min-width: 150px;
  height: 150px;
  padding: 1em;
}

.events-grid{
  height: 300px;
  display: flex; 
  padding: 0px;
} 

.media{
  padding: 40px;
  display: flex;
}

.header-color{
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#box-container{
  text-align: center;
  margin: auto;
  max-width: 650px;
  display: flex;
  border: 1px solid black;
  padding: 0px;
}

.main {
  text-align: center;
  border: 1px solid black;
  background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 260%;
}

.aside-1 {
  border: 1px solid black;
  text-align: right;
  width: 250%;
  background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.Hard-code-article {
  text-align: center;
  background:  #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right,  #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right,  #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

width: 260%;
}

.Subscribe {
  text-align: center;
  width: 130%;
  background: #FDC830;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.videos{
  /* background: #FFEFBA;  
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
background: linear-gradient(to right, #FFFFFF, #FFEFBA); */

display: flex; 
} 

.articles{
/* background: #d9a7c7; 
background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7); 
background: linear-gradient(to right, #fffcdc, #d9a7c7);*/
  display: flex; 
} 

.gallery{
  /* background: #43C6AC;  
background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  
background: linear-gradient(to right, #F8FFAE, #43C6AC); */
display: flex; 
} 

.big-box{
  text-align: center;
  display: flex; 
}  

.filter-box{
  max-width: 200px;
  display: flex; 
} 

.documents{
  max-width: 800px;
  display: flex; 
} 

.vault-grid{
  /* background: #2980B9; 
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); 
*/  height: 300px; 
  display: flex; 
} 

#vault-container{
  padding: 30px;
  display: flex;
}

.Box-grid{
  background: #a8c0ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
 display: flex; 
} 

.avatar-img{
  height: 250px;
  padding-top: 5em;
}

.banner-text{
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1{
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p{
  color: white;
  font-size: 20px;
  padding: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
