/* CSS */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    /* width: 100%; */
}
#side-image {
    width: 350px;
    /* border: 1px solid red; */
}
.doc {
    /* width: 900px; */
    /* margin: auto; */
    /* padding: 32px; */
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
    /* border: 1px solid red; */
}
.info{
    max-width: 600px;
    margin: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
    /* border: 1px solid black; */
}
#desc {
    width: 900px;
    margin: auto;
    /* border: 1px solid black; */
}
#author {
    width: 200px;
    /* border: 1px solid black; */
}
#date {
    width: 200px;
    /* border: 1px solid black; */
}
.details {
    max-width: 600px;
    /* margin: auto; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
    /* border: 1px solid black; */
}