* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
}

.side-image {
    width: 350px;
}

.side-image img{
    width: 300px;
    margin: 10px 5px 0px 5px;
}

.doc {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

.info{
    max-width: 600px;
    margin: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

#desc {
    width: 900px;
    margin: auto;
}

#author {
    width: 200px;
}

#date {
    width: 200px;
}

.details {
    max-width: 600px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}