*{
    margin: 0;
    padding: 0;
}

.home-container{
    background-image: url("https://gailproject.ucsc.edu/files/original/a109e55c616029649d9371aa222100c9.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    filter: grayscale(100%); /* Current draft standard */
    color: rgb(254, 254, 254);
    text-shadow: 2px 2px 5px #000;
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */
    height: 100%;
    position: absolute;
    vertical-align: center;
    top: 0; right: 0; bottom: 0; left: 0;
}