* {
    box-sizing: border-box;
}
h1, h2 {
    text-align: center;
}
body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    width: 100%;
}
.main {
    text-align: center;
    padding: 32px;
}
#mission {
    width: 600px;
    margin: auto;
    text-align: center;
}
#desc {
    width: 900px;
    margin: auto;
    text-align: center;
}
.row {
    width: 80%;
    display: flex;
    margin: auto;
    text-align: center;
    /* border: 1px solid black; */
}

.column {
    -ms-flex: 25%;
    flex: 25%;
    padding: 0 50px 50px 50px;
    /* border: 1px solid black; */
    overflow: hidden;
}

.row img{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.bgvid-container{
    overflow:hidden;
    display:block;
    height: 500px;
	padding-bottom: 50px;
    padding-top: 50px; 
}

#background-vid{
    max-width: 100%;
    position: fixed;
    top:0;
    right: 17px;
	z-index: -9999;
}