* {
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    width: 100%;
}

.main {
    text-align: center;
    padding: 32px;
}

#mission {
    width: 600px;
    margin: auto;
    text-align: center;
}

#desc {
    width: 900px;
    margin: auto;
    text-align: center;
}

.row {
    width: 80%;
    display: flex;
    margin: auto;
    text-align: center;
}

.column1 {
    -ms-flex: 33%;
    flex: 33%;
}

.column2 {
    -ms-flex: 20%;
    flex: 20%;
}

.row img{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.bgvid-container{
    overflow:hidden;
    display:block;
    height: 500px;
	padding-bottom: 50px;
}

.bgvid-container video{
    max-width: 100%;    
    /* position: fixed; */
    top:0;
    z-index: -99999;
}