
h1, h2 {
    text-align: center;
}

body {
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
}

.docpage {
    text-align: center;
    padding: 32px;
}

.docpage img{
    width: 1000px;
    margin-bottom: 10px;
}