.events-grid{
    height: 300px;
    display: flex; 
    padding: 0px;
  }

  .media{
    text-align: center;
    padding: 150px;
    display: flex;
  }
  
  .jumbotron {
    background-image: url("https://resources.matcha-jp.com/resize/720x2000/2018/07/06-57905.jpeg");
    background-size: cover;
    height: 100%;
  }

  .header-color{
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  
  #box-container{
    text-align: center;
    margin: auto;
    max-width: 650px;
    display: flex;
    border: 1px solid black;
    padding: 0px;
  }
  
  .big-box{
    text-align: center;
    display: flex; 
  }  
  
  .banner-text{
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
  }
  
  .banner-text h1{
    font-size: 66px;
    font-weight: bold;
    color: white;
  }
  
  .banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
  }
  
  .banner-text p{
    color: white;
    font-size: 20px;
    padding: 1em;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  