  #container{
     display: flex;
  }

  #galleryExampleIndicators{
    margin: auto;
  }

  .gallery-caption{
    vertical-align: center;
  }

  .gallery-inner {
    display: flex;
    /* width: 100%; */
    height: auto;
  }

  .gallery-inner img{
    object-fit: cover;
    max-width: 60%;
    max-height: 60%;
    /* height: 720px; */
    margin: auto;
  }
  
  .big-box{
    text-align: center;
    display: flex; 
  }  
  
  .vault-container{
    padding: 30px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between; 
    flex: 50%;
    flex-wrap: wrap;
  }