/* #vidroot{
  width:100%;
  margin: auto;
  text-align:center;
} */
.vidcon{
  width: 60%;
  margin: auto;
}

.vidcon iframe{
  display: block;
  position: relative;
  width: 100%;
  background: black;
}